# 3. Statements

conditional</br>
for loops</br>
while loops</br>
searching a value in a dict</br>
putting everything together in one line</br>
___

# Control flow (Conditional statements)

if</br>
elif</br>
else
____

In [46]:
if True:
    print('Its true')

Its true

In [47]:
if 3>2:
    print('Its true')

Its true

In [48]:
Basketball = True

if Basketball:
    print('Its true')

Its true

In [49]:
Basketball = True

if Basketball == 'Football':
    print('Its true')
else:
    print('Soccer')

Soccer

In [50]:
#you can try change the str 'anything' to test the results below

Wich_sport = 'use a little ball'

if Wich_sport == 'use a mid ball':
    print('Soccer')
elif Wich_sport == 'use a little ball':
    print('Tennis')
elif Wich_sport == 'use a big ball':
    print('Basketball')
else:
    print('Bocha')

Tennis

In [51]:
name = 'Dolores'

if name == 'Frankie':
    print('Welcome Frankie!')
elif name == 'Fran':
    print('Welcome Frankie!')
elif name == 'F':
    print('Welcome Frankie!')
else:
    print()

___
# Interaction/For loops

for</br>
in

In [52]:
mylist = [0,1,2,3,4,5,6,7,8,9,10]
for anything in mylist:
    print('is a number')

is a number
is a number
is a number
is a number
is a number
is a number
is a number
is a number
is a number
is a number
is a number

In [53]:
for x in mylist:
    if x *2 >= 4:
        print(f'the result is more than 4:{x*2}')
    else:
        print(f'the result is less than 4:{x*2}')

the result is less than 4:0
the result is less than 4:2
the result is more than 4:4
the result is more than 4:6
the result is more than 4:8
the result is more than 4:10
the result is more than 4:12
the result is more than 4:14
the result is more than 4:16
the result is more than 4:18
the result is more than 4:20

In [54]:
listA = 0

for x in mylist:
    listA = listA + x
    
    print(listA)

0
1
3
6
10
15
21
28
36
45
55

In [55]:
mystring = 'Hello World'

for x in mystring:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [56]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [57]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [58]:
mytuple = (1,2,3)

for _ in mytuple:
    print(_)

1
2
3

In [59]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [60]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [61]:
len(mylist)

4

In [62]:
#tuple packing
for (a,b) in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [63]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [64]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

___
# While loops

while</br>
continue</br>
break</br>
pass</br>
index_count</br>
enumarate</br>
zip</br>

In [65]:
x = 0

In [66]:
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
    
else:
    print(f'From here is more than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
From here is more than 5

In [67]:
#continue: skip

mystring = 'Luiz'

for _ in mystring:
    if _ == 'u':
        continue
    print(_)

L
i
z

In [68]:
#stop when find condition

mystring = 'Luiz'

for _ in mystring:
    if _ == 'u':
        break
    print(_)

L

In [69]:
mystring = 'Luiz'

for _ in mystring:
    # there is comment here that will not stop the running cell with pass
    pass

    print(_)

L
u
i
z

In [70]:
x = 5

In [71]:
x = 0

while x < 5:
    
    if x == 4:
        break
    print(x)
    x += 1

0
1
2
3

In [72]:
mylist = [1,2,3]

In [73]:
for num in range(6,10):
    print(num)

6
7
8
9

In [74]:
for num in range(6,10,2):
    print(num)

6
8

In [75]:
list(range(0,40,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [76]:
index_count = 0
word = 'abcd'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d

In [77]:
type(index_count)

int

In [78]:
type(word)

str

In [79]:
#enumerate

word = 'abcd'

for _ in enumerate(word):
    print(_)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [80]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']

In [81]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [82]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [83]:
'a' in mylist2

True

___
# Searching a value in a dict:

In [84]:
d = {'key1':13}

13 in d.keys()

False

In [85]:
d = {'key1':13}

13 in d.values()

True

In [86]:
mylist = [10,20,30,40]

In [87]:
min(mylist)

10

In [88]:
max(mylist)

40

In [89]:
input('Do a question:')

Do a question:Here was a field to complete

'Here was a field to complete'

___
# Putting everything together in one line:

In [94]:
mylist = [num**2 for num in range(0,11) if x%2==0]

In [95]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [126]:
num = range(0,11)

In [129]:
results = ['x is EVEN' if x%2==0 else 'x is ODD' for x in range(0,11)]

In [130]:
results

['x is EVEN',
 'x is ODD',
 'x is EVEN',
 'x is ODD',
 'x is EVEN',
 'x is ODD',
 'x is EVEN',
 'x is ODD',
 'x is EVEN',
 'x is ODD',
 'x is EVEN']

In [139]:
#more organized using several lines and spaces:

for x in range(0,11):
    
    if x%2==0:
        print(f'{x} is EVEN')
    
    else:
        print(f'{x} is ODD')

0 is EVEN
1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN

In [137]:
#to avoid to use just one line code, it´s bad to read:

results = [f'{x} is EVEN' if x%2==0 else f'{x} is ODD' for x in range(0,11)]

In [141]:
results

['0 is EVEN',
 '1 is ODD',
 '2 is EVEN',
 '3 is ODD',
 '4 is EVEN',
 '5 is ODD',
 '6 is EVEN',
 '7 is ODD',
 '8 is EVEN',
 '9 is ODD',
 '10 is EVEN']

____
<font color='green' size='32'> End</br> <br>Well done! </br></font>